[submodule "Boards/STM32F4-Disco"]
	path = Boards/STM32F4-Disco
	url = https://github.com/FXRer/STM32F4-Disco.git
[submodule "Boards/Raspberry-Pi"]
	path = Boards/Raspberry-Pi
	url = https://github.com/FXRer/Raspberry-Pi.git
[submodule "Boards/Arduino-Mega2560"]
	path = Boards/Arduino-Mega2560
	url = https://github.com/FXRer/Arduino-Mega2560.git
[submodule "Boards/Arduino-Trinket"]
	path = Boards/Arduino-Trinket
	url = https://github.com/FXRer/Arduino-Trinket.git
[submodule "Boards/STM32F7-Disco"]
	path = Boards/STM32F7-Disco
	url = https://github.com/FXRer/STM32F7-Disco.git
[submodule "Boards/Olimexino-STM32"]
	path = Boards/Olimexino-STM32
	url = https://github.com/FXRer/Olimexino-STM32.git
[submodule "Architectures/AVR/avrfreertos"]
	path = Architectures/AVR/avrfreertos
	url = https://github.com/feilipu/avrfreertos.git
[submodule "Architectures/AVR/cand"]
	path = Architectures/AVR/cand
	url = https://github.com/das-labor/cand.git
[submodule "Architectures/AVR/miniAVRfreeRTOS"]
	path = Architectures/AVR/miniAVRfreeRTOS
	url = https://github.com/feilipu/miniAVRfreeRTOS.git
[submodule "Architectures/AVR/uhttpd-avr"]
	path = Architectures/AVR/uhttpd-avr
	url = https://github.com/vfonov/uhttpd-avr.git
[submodule "Architectures/AVR/avr-uip"]
	path = Architectures/AVR/avr-uip
	url = https://github.com/avr-uip/avr-uip.git
[submodule "Architectures/AVR/CONTROLLINO_Library"]
	path = Architectures/AVR/CONTROLLINO_Library
	url = https://github.com/CONTROLLINO-PLC/CONTROLLINO_Library.git
[submodule "Architectures/AVR/libmicro"]
	path = Architectures/AVR/libmicro
	url = https://github.com/das-labor/libmicro.git
[submodule "Architectures/AVR/google-code-protothread"]
	path = Architectures/AVR/google-code-protothread
	url = https://github.com/avr-uip/google-code-protothread.git
[submodule "Architectures/AVR/5p-switch"]
	path = Architectures/AVR/5p-switch
	url = https://github.com/fabiobaltieri/5p-switch.git
[submodule "Architectures/AVR/avr-can-lib"]
	path = Architectures/AVR/avr-can-lib
	url = https://github.com/dergraaf/avr-can-lib.git
[submodule "Architectures/AVR/avr-micro-usb"]
	path = Architectures/AVR/avr-micro-usb
	url = https://github.com/fabiobaltieri/avr-micro-usb.git
[submodule "Architectures/AVR/can"]
	path = Architectures/AVR/can
	url = https://github.com/mkleemann/can.git
[submodule "Architectures/AVR/open-usb-can"]
	path = Architectures/AVR/open-usb-can
	url = https://github.com/fabiobaltieri/open-usb-can.git
[submodule "Architectures/AVR/toyothack"]
	path = Architectures/AVR/toyothack
	url = https://github.com/fabiobaltieri/toyothack.git
[submodule "Architectures/AVR/usb2can"]
	path = Architectures/AVR/usb2can
	url = https://github.com/krumboeck/usb2can.git
[submodule "Architectures/AVR/usb2can_firmware"]
	path = Architectures/AVR/usb2can_firmware
	url = https://github.com/krumboeck/usb2can_firmware.git
[submodule "Architectures/AVR/OpenPLC"]
	path = Architectures/AVR/OpenPLC
	url = https://github.com/nwertzberger/OpenPLC.git
[submodule "Architectures/PIC18/LCD"]
	path = Architectures/PIC18/LCD
	url = https://github.com/KentuckySolarCar/LCD.git
[submodule "Architectures/PIC18/USBtin"]
	path = Architectures/PIC18/USBtin
	url = https://github.com/KentuckySolarCar/USBtin.git
[submodule "Architectures/MIPS/PIC32/retrobsd"]
	path = Architectures/MIPS/PIC32/retrobsd
	url = https://github.com/RetroBSD/retrobsd.git
[submodule "Architectures/COMMON/C_Communications_Ethernet_TCP_IP_Driver"]
	path = Architectures/COMMON/C_Communications_Ethernet_TCP_IP_Driver
	url = https://github.com/ibexuk/C_Communications_Ethernet_TCP_IP_Driver.git
[submodule "Architectures/ARM/CORTEX-M/LPC/LPC11U24-GPSTracker"]
	path = Architectures/ARM/CORTEX-M/LPC/LPC11U24-GPSTracker
	url = https://github.com/jenswilly/LPC11U24-GPSTracker.git
[submodule "Architectures/ARM/CORTEX-M/LPC/FreeOSEK_LPC1769"]
	path = Architectures/ARM/CORTEX-M/LPC/FreeOSEK_LPC1769
	url = https://github.com/ciaa/FreeOSEK_LPC1769.git
[submodule "Architectures/ARM/CORTEX-M/SAM3/opentracker-arduino-board"]
	path = Architectures/ARM/CORTEX-M/SAM3/opentracker-arduino-board
	url = https://github.com/geolink/opentracker-arduino-board.git
[submodule "Architectures/ARM/CORTEX-M/SAM3/opentracker-sam-core"]
	path = Architectures/ARM/CORTEX-M/SAM3/opentracker-sam-core
	url = https://github.com/geolink/opentracker-sam-core.git
[submodule "Architectures/ARM/CORTEX-M/LPC/LPC1343-Obd2"]
	path = Architectures/ARM/CORTEX-M/LPC/LPC1343-Obd2
	url = https://github.com/kevinkrieger/CAN.git
[submodule "Architectures/MIPS/PIC32/TNKernel-PIC32"]
	path = Architectures/MIPS/PIC32/TNKernel-PIC32
	url = https://github.com/andersm/TNKernel-PIC32.git
[submodule "Architectures/ARM/ARM7TDMI-S/LPC/LPC2148_FreeRTOS_Copter"]
	path = Architectures/ARM/ARM7TDMI-S/LPC/LPC2148_FreeRTOS_Copter
	url = https://github.com/t413/os_copter.git
[submodule "Architectures/ARM/CORTEX-M/STM32/ARM-Ports"]
	path = Architectures/ARM/CORTEX-M/STM32/ARM-Ports
	url = https://github.com/ksarkies/ARM-Ports.git
[submodule "Architectures/ARM/CORTEX-M/STM32/stm32f429"]
	path = Architectures/ARM/CORTEX-M/STM32/stm32f429
	url = https://github.com/MaJerle/stm32f429.git
[submodule "Architectures/ARM/CORTEX-M/STM32/stm32cubef4"]
	path = Architectures/ARM/CORTEX-M/STM32/stm32cubef4
	url = https://github.com/chettrick/stm32cubef4.git
[submodule "Architectures/AVR/v-usb"]
	path = Architectures/AVR/v-usb
	url = https://github.com/obdev/v-usb.git
[submodule "Architectures/AVR/ethersex"]
	path = Architectures/AVR/ethersex
	url = https://github.com/ethersex/ethersex.git
