<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build and test µracoli source package.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@1.49">
    <source>http://hg.savannah.nongnu.org/hgweb/uracoli/</source>
    <modules></modules>
    <clean>false</clean>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://hg.savannah.nongnu.org/hgweb/uracoli/</url>
    </browser>
    <credentialsId></credentialsId>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#
# create source package just with RaspBee as board 
#
export PATH=$PATH:/opt/avr/bin
scons -c distclean
scons psrc version=$BUILD_NUMBER</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#
# Run the source package test
#
export PATH=$PATH:/opt/avr/bin
python Regression/test_src_pkg.py -b build -v install/uracoli-src-$BUILD_NUMBER.zip</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/test_src_pkg.zip</artifacts>
      <latestOnly>true</latestOnly>
      <allowEmptyArchive>true</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.warnings.WarningsPublisher plugin="warnings@4.39">
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useStableBuildAsReference>false</useStableBuildAsReference>
      <useDeltaValues>false</useDeltaValues>
      <thresholds plugin="analysis-core@1.55">
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
      </thresholds>
      <shouldDetectModules>false</shouldDetectModules>
      <dontComputeNew>true</dontComputeNew>
      <doNotResolveRelativePaths>true</doNotResolveRelativePaths>
      <parserConfigurations/>
      <consoleParsers>
        <hudson.plugins.warnings.ConsoleParser>
          <parserName>GNU Make + GNU C Compiler (gcc)</parserName>
        </hudson.plugins.warnings.ConsoleParser>
      </consoleParsers>
    </hudson.plugins.warnings.WarningsPublisher>
  </publishers>
  <buildWrappers/>
</project>